
@{
    ViewBag.Title = "Index";
}


<div style="margin-left: 20em;margin-right: 20em;">
    <h1 class="text-center">Clinic sign up</h1>
    <div style="margin-bottom:30px; margin-top: 30px">Note: Please contact your practice manager for access to an existing WELIO account</div>
    <div style="display: flex">
        <div style="width:50%;padding-right: 3em;" class="border-right-color">
            <h2>Clinic details</h2>
            <div>
                <label>Clinic name</label><br />
                <input required class="signup-input" />
            </div>
            <div>
                <label>Clinic Address - Line 1</label><br />
                <input required class="signup-input" />
            </div>
            <div>
                <label>Clinic Address - Line 2</label><br />
                <input class="signup-input" />
            </div>
            <div>
                <label>Suburb</label><br />
                <input required class="signup-input" />
            </div>
            <div>
                <label>Postcode</label><br />
                <input required class="signup-input" />
            </div>
            <div>
                <label>Phone number</label><br />
                <input required class="signup-input" />
            </div>
        </div>
        <div style="width:50%; margin-left: 3em;padding-right: 3em;">
            <h2>User details</h2>
            <div>Enter the details for the person who will adminster the account. This is usually the practice manager.</div>
            <div>
                <label>Name</label><br />
                <input class="signup-input" />
            </div>
            <div>
                <label>Email</label><br />
                <input class="signup-input" />
            </div>
            <div>
                <label>Phone number</label><br />
                <input class="signup-input" />
            </div>
            <div>
                <label>Password</label><br />
                <input class="signup-input" />
            </div>
        </div>
    </div>
    <div style="padding-top: 5em;padding-left: 10em;padding-right: 10em;"><button class="custom-btn">Sign up</button></div>
    <div class="text-center" style="margin-top: 10px">By proceeding I agree to the terms and conditions</div>

</div>
