
@{
    ViewBag.Title = "Export";
}
<div class="row fill">
    <div class="col-md-2 fill">@Html.Partial("_MenuList")</div>
    <div class="col-md-10 fill">
        <div class="grid">
            <div class="row">
                <h2>Export records</h2>
            </div>
            <div class="row">
                <div class="col-md-4 padding-0">
                    <div class="col-md-6 padding-left-0">
                        <label>Start date</label>
                        <select class="signup-input">
                            <option selected>27 Aug 2016</option>
                        </select>
                    </div>
                    <div class="col-md-6 padding-right-0">
                        <label>End date</label>
                        <select class="signup-input">
                            <option selected>27 Aug 2016</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row col-md-6 padding-0" style="margin-top:3em">
                <div class="col-md-3 padding-left-0">
                    <button class="custom-btn action-btn">@Html.ActionLink("Export","Index","Payment",null,new{@class="action-link"})</button>
                </div>
            </div>
        </div>
    </div>

</div>

