
@{
    ViewBag.Title = "LinkUsed";
}
<div class="col-lg-12 fill text-center">

    <div class="center-parent">
        <h2>This link is already used.</h2>
    </div>
</div>

@section scripts
{
    @Html.Partial("_LoginModal")
}
