@{
    ViewBag.Title = "Link Expired";
}

<div class="row fill">
    <div class="center-parent">
        <div class="col-lg-6 col-lg-offset-3 text-center">
            <div>
                <h3>This link is no longer active</h3>
            </div>
        </div>
    </div>
</div>
